<header class='header'>

  <h1>
    <a routerLink="/" (click)="toggleSelect('robot')">
      <img src="../../../assets/images/icon.png" class="logo">
      <span>ROBOT FACTORY</span>
    </a>
  </h1>

  <nav>
    <button routerLink="/robots" type="button" [ngClass]="{'selected':isRobotsSelected === true}"
            (click)="toggleSelect('robot')">
      Robots
    </button>
    <button routerLink="/parts" type="button" [ngClass]="{'selected':isRobotsSelected === false}"
            (click)="toggleSelect('part')">
      Parts
    </button>
  </nav>
</header>
