/* DashboardComponent's private CSS styles */
.part-div {
  display: flex;
  max-width: 80%;
  margin: auto;

  img {
    width: 30px;
    height: 30px;
    display: inline;
  }

  .part-div-card {
    color: #eee;
    min-width: 55px;
    border-radius: 2px;
    height: 100px;
    width: 150px;
    display: inline-block;
    text-align: center;
    position: relative;
    margin-left: 50px;
    background-image: url("~../src/assets/images/cpu.png");
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  a, a:visited {
    text-decoration: none;
    color: coral;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}
