/* DashboardComponent's private CSS styles */
.robot-div {
  display: flex;
  max-width: 80%;
  margin: auto;

  .robot-div-card {
    height: 100px;
    width: 150px;
    display: inline-block;
    text-align: center;
    margin-left: 50px;
    background-image: url("~../src/assets/images/robotic-arm.png");
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  a, a:visited {
    text-decoration: none;
    color:coral;
    display:inline-block;
    width:100%;
    height:100%;
  }
}
