:host {
  display: flex;
  .robot-div {
    background-color: rgba(249, 249, 249, 0.55);
    padding: 20px;
    display: flex;
    margin: auto;

    div {
      margin: 10px;
    }
    label {
      font-size: 1rem;
      display: inline-block;

    }
    span {
      font-size: 1rem;
      font-weight: bold;
    }

    .btn-back {
      font-size: 14px;
      border-radius: 3px;
      display: inline-block;
      height: 30px;
      width: 80px;
      height: 40px;
      border: none;
      background: lightblue;
      cursor: pointer;
    }
    .btn-back:hover {
      background: #83d2f4;
    }

    //.parts-list{
    //  .condition-bar {
    //    display: inline-block;
    //    width: 100px;
    //    border: 1px solid black;
    //    border-radius: 3px;
    //    height: 10px;
    //    position: relative;
    //    span {
    //      display: inline-block;
    //    }
    //    .condition-bar-value {
    //      position: absolute;
    //      height: 10px;
    //      &.green{
    //        background-color: green;
    //
    //      }
    //      &.yellow{
    //        background-color: yellow;
    //
    //      }
    //      &.red{
    //        background-color: red;
    //
    //      }
    //    }
    //  }
    //}
  }

}
